body {
  background: rgb(254, 242, 230);
  height: 100vh;
  display: flex;
  justify-content: center;;
}

.container {
  margin: auto;
  margin: 0;
  padding: 0;
  padding-top: 10vh;
}


app-root {
  max-width: 750px;
  display: flex;
  justify-content: center;
}
