#header {
  border-bottom: 10px double $green-light;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;;
}

#header-text {
  width: 50%;
  color: $green;
  text-align: right;
  h1 {
    margin-top: 0;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  h3 {
    margin: 0;
  }
}

#header-img {
  width: 50%;
  background: url("../../resources/images/eat.gif");
  background-position: center;
  background-size: cover;
}
